*{
    color: green;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}
ul li{
    list-style: none;
}

/*-----------------header--------------*/

header{
    display: flex;
    flex-direction: column;
    gap:4vh;
    justify-content: space-evenly;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    text-align: center;
}
/*--------------Nav part--------------*/
#nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
}

#nav-list a{
    text-decoration: none;
    
}


#nav-list li:hover{
    border:2px green solid;
    border-radius: 100px;
    opacity: 0.8;
}

#nav-list li{
    max-width: 90%;
}

#nav-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}


/*---------------- content-----------*/


#container{
    /* border: 2px red solid; */
    display: flex;
    padding: 2% 2%;
    margin-left: 200px;
}

#content{
    /* border:2px green solid; */
    margin: 0 auto;
}

#content h1{
    text-align: center;
}

#content ul{
    padding: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: space-evenly;
}

.description{
    border: 2px green solid;
    border-radius: 100px;
    padding: 0.4rem;
}

.item-price{
    display: flex;
    justify-content: space-between;
}

/*------------ img --------------------*/

li img{
    max-height: clamp(4.688rem, 1.136rem + 28.409vw, 43.75rem);
}

/*----------general---------- */

.margin-bottom-4vh{
    margin-bottom: 4vh;
}

#actual-page{
    background-color: greenyellow;
    border-radius: 100px;
}

#cart-li{
    display: flex;
    gap: 1rem;
}

#cart-li p{
    border: 1px green solid;
    border-radius: 100%;
    padding: 2%;
}

button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 0.1%;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 1rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14pxinset,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

/*---------------responsive ---------------*/
@media screen and (max-width: 800px) {
    header {
        width: 100%;
        height: auto;
        opacity: 0.9;
        align-items: center;
    }

    #nav-list{
        flex-direction: row;
        padding-left: 0;
        gap:4vw;
    }

    #nav-list li{
        font-size: clamp(0.84rem, 0.744rem + 0.512vw, 1rem);
    }

    #container{
        margin-left: 0;
    }
    
    #content{
        margin-top:250px;
    }

    li img{
        padding: 0 clamp(3.1rem, -5.1rem + 16.4vw, 15.4rem);
        min-height: 142px;
    }

    .description{
        max-width: 71%;
        margin: 0 auto;
        min-width: 170px;
    }

    .margin-bottom-4vh{
        margin-bottom: 0;
    }

}

@media screen and (max-width: 315px){
    #nav-list li{
        font-size: 0.65rem;
    }
    #nav-list li:hover{
        border:1px green solid;
        opacity: 0.8;
    }
    #cart-li{
        gap:0.2rem
    }
}